<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeDetails.Properties.Settings.HRConnectionString"
            connectionString="Data Source=SQLSERVER01;Initial Catalog=HR;User ID=sa;Password=niit#1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>